<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">CodingLab</span>
  </div>
    <ul class="nav-links">
      <li>
        <a href="#" class="active">
          <i class='fa fa-tachometer' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='fa fa-list' ></i>
          <span class="links_name">Product</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='fa fa-shopping-cart' ></i>
          <span class="links_name">Order list</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='fa fa-users' ></i>
          <span class="links_name">Team</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='fa fa-envelope' ></i>
          <span class="links_name">Messages</span>
        </a>
      </li>
      <li class="log_out">
        <a href="#">
          <i class='fa fa-sign-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>
