<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus'></i>
    <span class="logo_name">CodingLab</span>
  </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/dashbord" routerLinkActive="active">
          <i class='fa fa-tachometer' ></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a  routerLink="/adminProducts" routerLinkActive="active">
          <i class='fa fa-list' ></i>
          <span class="links_name">Product</span>
        </a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">
          <i class='fa fa-users' ></i>
          <span class="links_name">Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/chat-admin" routerLinkActive="active">
          <i class='fa fa-envelope' ></i>
          <span class="links_name">Chats</span>
        </a>
      </li>
      <li class="log_out">
        <a (click)="logOut()" style="cursor: pointer;">
          <i class='fa fa-sign-out'></i>
          <span  class="links_name">Log out</span>
        </a>
      </li>
    </ul>
</div>
