
  <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
  <app-sidebar></app-sidebar>
  <div class="limiter">

    <div class="container-table100">

        <div class="wrap-table100">
            <div class="bt-update">
                <button routerLink="/productForm">Add User</button>
              </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">

                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">img</th>
                                <th class="cell100 column2">name</th>
                                <th class="cell100 column3">price</th>
                                <th class="cell100 column4"> Update/Delete</th>


                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll" >
                    <table>
                        <tbody>
                            <tr class="row100 body" *ngFor="let user of users">
                                <td class="cell100 column1">{{user.username}}</td>
                                <td class="cell100 column2">{{user.email}}</td>
                                <td class="cell100 column3">{{user.phone}}</td>

                                <td class="cell100 column4">
                                    <button id="btndelete" class="btn btn-primary" (click)="onDelete(user._id)">Delete</button>
                                    <button style="margin-left: 5px;" id="btnedit" class="btn btn-primary"   (click)="addToForm(product)" routerLink="/productForm">Update</button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


