
  <!-- Designined by CodingLab | www.youtube.com/codinglabyt -->

  <body>
    <app-sidebar></app-sidebar>
        <section class="home-section">
          <div class="home-content">

            <div class="sales-boxes">
              <div class="recent-sales box">
                <div class="title">
                <div class="title">Recent Sales</div>
                  <div class="button">
                    <a routerLink="/productForm">Add Product</a>
                  </div>

                </div>

                <div class="sales-details" *ngFor="let product of products">
                  <ul class="details">
                  <li class="topic">Customer</li>
                  <li><a href=""> <img [src]="product.img" alt=""></a></li>
                </ul>
                <ul class="details">
                  <li class="topic">Sales</li>
                  <li><a href="#">{{product.name}}</a></li>

                </ul>
                <ul class="details">
                  <li class="topic">Total</li>
                  <li><a href="#">{{product.price}}</a></li>
                </ul>
                <ul class="details">
                  <li class="topic">Delete/Update</li>
                  <li><button href="#">Delete</button>
                      <button (click)=" addToForm(product)" routerLink="/productForm">Update</button></li>
                </ul>
                </div>

              </div>

            </div>



          </div>
        </section>


      </body>


