<section class="product-form">
  <div class="content">
    <header>AddProducts</header>
    <div style="margin-top: 5px;" class="alert alert-primary" role="alert" *ngIf="showSucssMessage">
      send sucssecfuly
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
      error of email or password
    </div>
    <form>
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="text"  name="serialNumber" [(ngModel)]="productOne.serialNumber"  placeholder="Enter serialnumber" />
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="text"  name="name" placeholder="Enter name" [(ngModel)]="productOne.name" />
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="text" class="form-control" name="img" placeholder="Enter img" [(ngModel)]="productOne.img" />
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="text" class="form-control" name="category" placeholder="Enter category" [(ngModel)]="productOne.category" />
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="text" class="form-control" name="price" placeholder="Enter price" [(ngModel)]="productOne.price" />
      </div>
      <div class="field space">
        <span class="fa fa-lock"></span>
        <input type="text" class="form-control" name="description" placeholder="Enter description" [(ngModel)]="productOne.description"/>
      </div>
      <div class="field" style="justify-content: center;">
        <input style="width: 100px;" type="Submit" class="btn btn-primary" (click)="onSubmit()" value="add">
        <input style="width: 100px; margin-left: 5px;" type="Submit" class="btn btn-primary" value="update">
      </div>

    </form>
  </div>
</section>
