<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">


    <title>Hiking Kings</title>
</head>

<body>
    <div class="banner">
        <app-navbar></app-navbar>
        <div class="content">
            <h1>So many books, so little time</h1>
            <div>
                <button class="signup-btn" type="button"><span class="cover"></span>SIGN UP</button>
                <button class="login-btn" type="button"><span class="cover"></span>LOG IN</button>
            </div>
            <div>
              <button  class="chat-btn" data-toggle="modal" data-target="#UPDATE"><span class="cover" ></span>chat </button>
          </div>
        </div>
        <div class="modal fade" id="UPDATE" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="title">
                  <p>chat to admin</p>
                </div>
                <div class="alert alert-primary" role="alert" *ngIf="showmassege">
                  This is a primary alert—check it out!
                </div>
                <div class="input-message">
                <input type="text" [(ngModel)]="userMessages.userMessage">
              </div>
                <div class="send-btn">
                <button (click)="postMessage()">send</button>
                <button  data-dismiss="modal" aria-label="Close" routerLink="/chat-user">All messages</button>
              </div>

            </div>
          </div>
          </div>
        </div>
    </div>
    <main class="mt-5">
        <div class="container">
          <!--Section: Content-->
          <section>
            <div class="row">
              <div class="col-md-6 gx-5 mb-4">
                <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                  <img src="../../assets/images/reading-1246520_1920.jpg" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15); "></div>
                  </a>
                </div>
              </div>

              <div class="col-md-6 gx-5 mb-4">
                <h4><strong></strong></h4>
                <p><strong>Where we stand today?
                </strong></p>
                <p class="text-muted">

                  Our in-store events feature some of today’s most interesting and provocative personalities, from Lin Manuel Miranda to Patti Smith and dialogues between such greats as Ocean Vuong and Jaqueline Woodson. If you are looking for a relaxed, intimate evening where you’ll be both engaged and entertained, we have the programming for you.            </p>
                <p><strong>Where we’re going: Driven by You</strong></p>
                <p class="text-muted">
                  In all seriousness, at the BookShop, you, our book lovers, are our number one priority. As we change and grow with the times, we will never lose sight of our roots – we are a community bookstore first and foremost. We are forever invested in you and want to make your shopping experience with us a memorable, enjoyable, and easy one. A Strand is a place where books are loved and book lovers of all kinds are always welcome.
                </p>
              </div>
            </div>
          </section>
          <!--Section: Content-->

          <hr class="my-5" />

          <!--Section: Content-->




        </div>
      </main>

    <section class="product">
        <h2 class="product-category">best selling</h2>

        <div class="product-container">



            <div class="product-card" *ngFor="let product of products">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img [src]="product.img" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h5 class="product-brand">{{product.name}}</h5>
                    <p class="product-short-description">{{product.description}}</p>
                    <span class="price">${{product.price}}</span><span class="actual-price">$40</span>
                </div>
            </div>

            <button class="pre-btn" appPrev></button>
            <button class="nxt-btn" appNext></button>
        </div>
    </section>

    <section class="product">
        <h2 class="product-category">best selling</h2>

        <div class="product-container">

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://images-us.bookshop.org/ingram/9780062820266.jpg?height=500&v=v2" class="product-thumb" alt="">
                    <button class="card-btn">add to Cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://images-us.bookshop.org/ingram/9780062820266.jpg?height=500&v=v2" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://images-us.bookshop.org/ingram/9780062820266.jpg?height=500&v=v2" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-description">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <button class="pre-btn" appPrev ></button>

            <button class="nxt-btn" appNext></button>
        </div>
    </section>


</body>
</html>



