
<body>
<div class="container forget-password">
  <div class="row" >
      <div class="col-md-12 col-md-offset-4"  style="margin-top: 80px;">
          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="text-center">
                      <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" >
                      <h2 class="text-center">Forgot Password?</h2>
                      <p>You can reset your password here.</p>
                      <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                          <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                  <input name="forgetAnswer" placeholder="Enter your email" class="form-control"  type="text" [(ngModel)]="email">
                              </div>
                          </div>
                          <div class="form-group">
                              <input  name="btnForget" class="btn btn-lg btn-primary btn-block btnForget" value="Send Email" type="submit" (click)="sendEmail()">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
